<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salat Time Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px 12px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h2>User Dashboard</h2>
    <h1>Welcome {{ useracc.name }} !</h1>
    <h1>Your current balance : {{ useracc.balance }} </h1>
    <h1>Your current due : {{ useracc.due }} </h1>


    <button onclick="window.location.href='{% url 'product_list' %}'"
        style="padding: 10px 20px; background-color: blue; color: white; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;">
        Split Calculation
    </button>

    <button onclick="window.location.href='{% url 'home' %}'"
        style="padding: 10px 20px; background-color: blue; color: white; text-decoration: none; border-radius: 5px; border: none; cursor: pointer;">
        Prayer timetable
    </button>
</body>
</html>
